<div class="container">
			<!-- <div class="pull-right price">
            	{{price | currency}}
            </div> -->
		<div ng-if="choices[1]=='mobile'" class="row">
			<div class="col-md-12">
				<h4>1. In Which phase your project currently at? : "{{choices[2]}}"</h4>
				<h4>2. What type of design do you need? : "{{choices[3]}}"</h4>
				<h4>3. Do you need your users to sign in? : "{{choices[4]}}"</h4>
				<h4>4. Do you need a payment system? : "{{choices[5]}}"</h4>
				<h4>5. What is your platform? : "{{choices[6]}}"</h4>
				<h4>6. Need more additional feature? : "{{choices[7]}}"</h4>
			</div>
			<div class="col-md-12"><hr></div>
			<div class="choices">
				<div class="col-md-10 col-sm-10 col-xs-10 text-center">
					<button class="btn btn-warning btn-lg btn-block center" ng-click="go('/finish')">Calculate</button>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<button class="btn btn-default btn-lg" ng-click="go('/seventh')">Go Back</button>
				</div>
			</div>
			
			
		</div>

		<div ng-if="choices[1]=='web'" class="row">
			<div class="col-md-12">
				<h4>1. How many pages do you need? : "{{choices[2]}}"</h4>
				<h4>2. Do you need CMS? : "{{choices[3]}}"</h4>
				<h4>3. Do you need your users to sign in? : "{{choices[4]}}"</h4>
				<h4>4. Do users need a profile? : "{{choices[5]}}"</h4>
				<h4>5. Do you need Search functionality? : "{{choices[6]}}"</h4>
				<h4>6. Do you need a payment system? : "{{choices[7]}}"</h4>
			</div>
			<div class="col-md-12 ques">
				<h2>7. Need more additional feature?</h2>
			</div>
			<div class="choices">
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button class="btn btn-info btn-circle btn-xl center" ng-click="go('/ninth',5000,8,'Yes')">Yes</button>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button class="btn btn-danger btn-circle btn-xl center" ng-click="go('/ninth',0,8,'No')">No</button>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button class="btn btn-success btn-circle btn-xl center" ng-click="go('/ninth',2500,8,'I dont know')">I don't know</button>
				</div>
			</div>
			<div class="col-md-2 col-md-offset-10 col-sm-2 col-sm-offset-10 col-xs-2 col-xs-offset-10" style="padding-top: 40px;">
				<button class="btn btn-default btn-lg" ng-click="go('/seventh')">Go Back</button>
			</div>
			
		</div>
		
	</div>