<div class="container">
			<!-- <div class="pull-right price">
            	{{price | currency}}
            </div> -->
		<div ng-if="choices[1]=='mobile'" class="row">
			<div class="col-md-12">
				<h4>1. In Which phase your project currently at? : "{{choices[2]}}"</h4>
				<h4>2. What type of design do you need? : "{{choices[3]}}"</h4>
				<h4>3. Do you need your users to sign in? : "{{choices[4]}}"</h4>
			</div>
			<div class="col-md-12 ques">
				<h2>4. Do you need a payment system?</h2>
			</div>
			<div class="choices">
				<div class="col-md-6 col-sm-6 col-xs-6 text-center">
					<button class="btn btn-info btn-circle btn-xl center" ng-click="go('/sixth',2500,5,'Yes')">Yes</button>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 text-center">
					<button class="btn btn-danger btn-circle btn-xl center" ng-click="go('/sixth',0,5,'No')">No</button>
				</div>
			</div>
			<div class="col-md-2 col-md-offset-9 col-sm-2 col-sm-offset-9 col-xs-2 col-xs-offset-9" style="padding-top: 40px;">
				<button class="btn btn-default btn-lg" ng-click="go('/fourth')">Go Back</button>
			</div>
			
		</div>

		<div ng-if="choices[1]=='web'" class="row">
			<div class="col-md-12">
				<h4>1. How many pages do you need? : "{{choices[2]}}"</h4>
				<h4>2. Do you need CMS? : "{{choices[3]}}"</h4>
				<h4>3. Do you need your users to sign in? : "{{choices[4]}}"</h4>
			</div>
			<div class="col-md-12 ques">
				<h2>4. Do users need a profile?</h2>
			</div>
			<div class="choices">
				<div class="col-md-6 col-sm-6 col-xs-6 text-center">
					<button class="btn btn-info btn-circle btn-xl center" ng-click="go('/sixth',3500,5,'Yes')">Yes</button>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 text-center">
					<button class="btn btn-danger btn-circle btn-xl center" ng-click="go('/sixth',0,5,'No')">No</button>
				</div>
			</div>
			<div class="col-md-2 col-md-offset-9 col-sm-2 col-sm-offset-9 col-xs-2 col-xs-offset-9" style="padding-top: 40px;">
				<button class="btn btn-default btn-lg" ng-click="go('/fourth')">Go Back</button>
			</div>
			
		</div>
		
	</div>