<div class="container">
			<!-- <div class="pull-right price">
            	{{price | currency}}
            </div> -->
            <div class="col-md-12 text-center">
				<h1>Have an estimate for the app you want to develop with us!</h1>
			</div>
		<div class="row cc">
			<div class="col-md-12 ques">
				<h2>Select Your Choice</h2>
			</div>
			<div class="choices">
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button id="icn" class="btn btnd btn-circle btn-xl center fa fa-mobile" ng-click="go('/second',0,1,'mobile')"></button>
					<span class="clearfix">Mobile App</span>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button id="icn" class="btn btnd btn-circle btn-xl center fa fa-terminal" ng-click="go('/webdev')"></button>
					<span class="clearfix">Web App</span>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button id="icn" class="btn btnd btn-circle btn-xl center fa fa-desktop" ng-click="go('/second',0,1,'web')"></button>
					<span class="clearfix">Web Development</span>	
				</div>
				
			</div>
			
		</div>
		
	</div>