<div class="container">
			<!-- <div class="pull-right price">
            	{{price | currency}}
            </div> -->
		<div ng-if="choices[1]=='mobile'" class="row">
			<div class="col-md-12">
				<h4>1. In Which phase your project currently at? : "{{choices[2]}}"</h4>
				<h4>2. What type of design do you need? : "{{choices[3]}}"</h4>
			</div>
			<div class="col-md-12 ques">
				<button class="pull-right btn btn-default btn-lg glyphicon glyphicon-chevron-left" ng-click="go('/third')"><em>Back</em></button>
				<h2 class="pull-left">3. Do you need your users to sign in?</h2>
			</div>
			<div class="choices">
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button id="icn" class="btn btn-info btn-circle btn-xl center glyphicon glyphicon-envelope" ng-click="go('/fifth',1100,4,'Email')"></button>
					<span class="clearfix">Email</span>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button id="icn" class="btn btn-danger btn-circle btn-xl center fa fa-user-circle " ng-click="go('/fifth',1500,4,'Social Media')"></button>
					<span class="clearfix">Social Media</span>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button id="icn" class="btn btn-success btn-circle btn-xl center fa fa-ban" ng-click="go('/fifth',0,4,'No need')"></button>
					<span class="clearfix">No need</span>
				</div>
			</div>
		</div>

		<div ng-if="choices[1]=='web'" class="row">
			<div class="col-md-12">
				<h4>1. How many pages do you need? : "{{choices[2]}}"</h4>
				<h4>2. Do you need CMS? : "{{choices[3]}}"</h4>
			</div>
			<div class="col-md-12 ques">
				<button class="pull-right btn btn-default btn-lg glyphicon glyphicon-chevron-left" ng-click="go('/third')"><em>Back</em></button>
				<h2 class="pull-left">3. Do you need your users to sign in?</h2>
			</div>
			<div class="choices">
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button id="icn" class="btn btn-info btn-circle btn-xl center glyphicon glyphicon-envelope" ng-click="go('/fifth',1100,4,'Email')"></button>
					<span class="clearfix">Email</span>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button id="icn" class="btn btn-danger btn-circle btn-xl center fa fa-user-circle" ng-click="go('/fifth',1500,4,'Social')"></button>
					<span class="clearfix">Social Media</span>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button id="icn" class="btn btn-success btn-circle btn-xl center fa fa-ban" ng-click="go('/fifth',0,4,'No')"></button>
					<span class="clearfix">No</span>
				</div>
			</div>
		</div>
		
	</div>