<div class="container">
			<!-- <div class="pull-right price">
            	{{price | currency}}
            </div> -->
		<div ng-if="choices[1]=='mobile'" class="row">

			
			<div class="col-md-12 ques">
				<button class="pull-right btn btn-default btn-lg glyphicon glyphicon-chevron-left" ng-click="go('/first')"><em>Back</em></button>
			
				<h2 class="pull-left">1. In Which phase your project currently at?</h2>
			</div>
			<div class="choices">
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button id="icn" class="btn btnd btn-info btn-circle btn-xl glyphicon glyphicon-pencil center" ng-click="go('/third',3500,2,'Just idea')"></button>
					<span class="clearfix">Just Idea</span>
					<span class="tooltiptext">$3500.00</span>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button id="icn" class="btn btnd btn-danger btn-circle btn-xl center  glyphicon glyphicon-picture" ng-click="go('/third',2300,2,'I have design')"></button>
					<span class="clearfix">I have design</span>
					<span class="tooltiptext">$2300.00</span>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button id="icn" class="btn btnd btn-success btn-circle btn-xl center glyphicon glyphicon-cog" ng-click="go('/third',1800,2,'Already in development')"></button>
					<span class="clearfix">Already in development</span>
					<span class="tooltiptext">$1800.00</span>
				</div>
			</div>
			
		</div>

		<div ng-if="choices[1]=='web'" class="row">
			<div class="col-md-12 ques">
				<button class="pull-right btn btn-default btn-lg glyphicon glyphicon-chevron-left" ng-click="go('/first')"><em>Back</em></button>
				<h2 class="pull-left">1. How many pages do you need?</h2>
			</div>
			<div class="choices">
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button id="icn" class="btn btnd btn-info btn-circle btn-xl center fa fa-file-o" ng-click="go('/third',1500,2,'1 to 5')"></button>
					<span class="clearfix">1 to 5</span>
					<span class="tooltiptext">$1500.00</span>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button id="icn" class="btn btnd btn-danger btn-circle btn-xl center fa fa-files-o" ng-click="go('/third',2500,2,'6 to 10')"></button>
					<span class="clearfix">6 to 10</span>
					<span class="tooltiptext">$2500.00</span>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button id="icn" class="btn btnd btn-success btn-circle btn-xl center fa fa-paste" ng-click="go('/third',3500,2,'10+')"></button>
					<span class="clearfix">10+</span>
					<span class="tooltiptext">$3500.00</span>
				</div>
			</div>
			
		</div>
		
	</div>