<div class="container">
			<!-- <div class="pull-right price">
            	{{price | currency}}
            </div> -->
		<div ng-if="choices[1]=='mobile'" class="row">
			<div class="panel panel-default">
            		<!-- List group -->
            	<ul class="list-group">
            		<li class="list-group-item"><h4>1. In Which phase your project currently at? : <strong>"{{choices[2]}}"</strong></h4></li>
           			<li class="list-group-item"><h4>2. What type of design do you need? : <strong>"{{choices[3]}}"</strong></h4></li>
           			<li class="list-group-item"><h4>3. Do you need your users to sign in? : <strong>"{{choices[4]}}"</strong></h4></li>
           			<li class="list-group-item"><h4>4. Do you need a payment system? : <strong>"{{choices[5]}}"</strong></h4></li>
           			<li class="list-group-item"><h4>5. What is your platform? : <strong>"{{choices[6]}}"</strong></h4></li>
           		</ul>
            </div>
			<div class="col-md-12 ques">
				<button class="pull-right btn btn-default btn-lg glyphicon glyphicon-chevron-left" ng-click="go('/sixth')"><em>Back</em></button>
				<h2 class="pull-left">6. Need more additional feature?</h2>
			</div>
			<div class="choices">
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button id="icn" class="btn btnd btn-circle btn-xl center glyphicon glyphicon-ok" ng-click="go('/eighth',5000,7,'Yes')"></button>
					<span class="clearfix">Yes</span>
					<!-- <span class="tooltiptext">$5000.00</span> -->
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button id="icn" class="btn btnd btn-circle btn-xl center glyphicon glyphicon-remove" ng-click="go('/eighth',0,7,'No')"></button>
					<span class="clearfix">No</span>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button id="icn" class="btn btnd btn-circle btn-xl center fa fa-question-circle" ng-click="go('/eighth',2500,7,'I dont know')"></button>
					<span class="clearfix">I don't know</span>
					<!-- <span class="tooltiptext">$2500.00</span> -->
				</div>
			</div>
			
		</div>

		<div ng-if="choices[1]=='web'" class="row">
			<div class="panel panel-default">
            		<!-- List group -->
           		<ul class="list-group">
           			<li class="list-group-item"><h4>1. How many pages do you need? : <strong>"{{choices[2]}}"</strong></h4></li>
           			<li class="list-group-item"><h4>2. Do you need CMS? : <strong>"{{choices[3]}}"</strong></h4></li>
           			<li class="list-group-item"><h4>3. Do you need your users to sign in? : <strong>"{{choices[4]}}"</strong></h4></li>
           			<li class="list-group-item"><h4>4. Do users need a profile? : <strong>"{{choices[5]}}"</strong></h4></li>
           			<li class="list-group-item"><h4>5. Do you need Search functionality? : <strong>"{{choices[6]}}"</strong></h4></li>
           		</ul>
            </div>
			<div class="col-md-12 ques">
				<button class="pull-right btn btn-default btn-lg glyphicon glyphicon-chevron-left" ng-click="go('/sixth')"><em>Back</em></button>
				<h2 class="pull-left">6. Do you need a payment system?</h2>
			</div>
			<div class="choices">
				<div class="col-md-6 col-sm-6 col-xs-6 text-center">
					<button id="icn" class="btn btnd btn-circle btn-xl center glyphicon glyphicon-ok" ng-click="go('/eighth',1500,7,'Yes')"></button>
					<span class="clearfix">Yes</span>
					<!-- <span class="tooltiptext2">$1500.00</span> -->
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 text-center">
					<button id="icn" class="btn btnd btn-circle btn-xl center glyphicon glyphicon-remove" ng-click="go('/eighth',0,7,'No')"></button>
					<span class="clearfix">No</span>
				</div>
			</div>
		</div>
		
	</div>