<div class="container">
			<!-- <div class="pull-right price">
            	{{price | currency}}
            </div> -->
		<div ng-if="choices[1]=='mobile'" class="row">
			<div class="col-md-12">
				<h4>1. In Which phase your project currently at? : "{{choices[2]}}"</h4>
			</div>

			<div class="col-md-12 ques">
				<h2>2. What type of design do you need?</h2>
			</div>
			<div class="choices">
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button class="btn btn-info btn-circle btn-xl center" ng-click="go('/fourth',2000,3,'Simple')">Simple</button>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button class="btn btn-danger btn-circle btn-xl center" ng-click="go('/fourth',6500,3,'Fully customized')">Fully customized</button>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button class="btn btn-success btn-circle btn-xl center" ng-click="go('/fourth',0,3,'Dont need a design')">Don't need a design</button>
				</div>
			</div>
			<div class="col-md-2 col-md-offset-9 col-sm-2 col-sm-offset-9 col-xs-2 col-xs-offset-9" style="padding-top: 40px;">
				<button class="btn btn-default btn-lg" ng-click="go('/second')">Go Back</button>
			</div>
		</div>

		<div ng-if="choices[1]=='web'" class="row">
			<div class="col-md-12">
				<h4>1. How many pages do you need? : "{{choices[2]}}"</h4>
			</div>

			<div class="col-md-12 ques">
				<h2>2. Do you need CMS?</h2>
			</div>
			<div class="choices">
				<div class="col-md-6 col-sm-6 col-xs-6 text-center">
					<button class="btn btn-info btn-circle btn-xl center" ng-click="go('/fourth',2500,3,'Yes')">Yes</button>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 text-center">
					<button class="btn btn-danger btn-circle btn-xl center" ng-click="go('/fourth',0,3,'No')">No</button>
				</div>
				
			</div>
			<div class="col-md-2 col-md-offset-9 col-sm-2 col-sm-offset-9 col-xs-2 col-xs-offset-9 text-center " style="padding-top: 40px;">
				<button class="btn btn-default btn-lg" ng-click="go('/second')">Go Back</button>
			</div>
			
		</div>
		
	</div>