<div class="container">
			<!-- <div class="pull-right price">
            	{{price | currency}}
            </div> -->
            <div ng-if="choices[1]=='mobile'" class="row">

            	
            	<div class="panel panel-default">
            		<!-- List group -->
            		<ul class="list-group">
            			<li ng-animate="animate" class="list-group-item cc"><h4>1. In Which phase your project currently at? : <strong>"{{choices[2]}}"</strong></h4></li>
            		</ul>
            	</div>

            	<div class="col-md-12 ques">
            		<button class="pull-right btn btn-default btn-lg glyphicon glyphicon-chevron-left" ng-click="go('/second')"><em>Back</em></button>
            		<h2 class="pull-left">2. What type of design do you need?</h2>
            	</div>
            	<div class="choices">
            		<div class="col-md-4 col-sm-4 col-xs-4 text-center">
            			<button id="icn" class="btn btnd btn-info btn-circle btn-xl center glyphicon glyphicon-th-large" ng-click="go('/fourth',2000,3,'Simple')"></button>
            			<span class="clearfix">Simple</span>
                              <span class="tooltiptext">$2000.00</span>

            		</div>
            		<div class="col-md-4 col-sm-4 col-xs-4 text-center">
            			<button id="icn" class="btn btnd btn-danger btn-circle btn-xl center glyphicon glyphicon-th-list" ng-click="go('/fourth',6500,3,'Fully customized')"></button>
            			<span class="clearfix">Fully customized</span>
                              <span class="tooltiptext">$6500.00</span>

            		</div>
            		<div class="col-md-4 col-sm-4 col-xs-4 text-center">
            			<button id="icn" class="btn btnd btn-success btn-circle btn-xl center  glyphicon glyphicon-align-left" ng-click="go('/fourth',0,3,'Dont need a design')"></button>
            			<span class="clearfix">Don't need a design</span>
            		</div>
            	</div>

            </div>

            <div ng-if="choices[1]=='web'" class="row">
            	<div class="panel panel-default">
            		<!-- List group -->
            		<ul class="list-group">
            			<li ng-animate="animate" class="list-group-item cc"><h4>1. How many pages do you need? : <strong>"{{choices[2]}}"</strong></h4></li>
            		</ul>
            	</div>
            	<div class="col-md-12 ques">
            		<button class="pull-right btn btn-default btn-lg glyphicon glyphicon-chevron-left" ng-click="go('/second')"><em>Back</em></button>
            		<h2 class="pull-left">2. Do you need CMS?</h2>
            	</div>
            	<div class="choices">
            		<div class="col-md-6 col-sm-6 col-xs-6 text-center">
            			<button id="icn" class="btn btnd btn-info btn-circle btn-xl center glyphicon glyphicon-ok" ng-click="go('/fourth',3500,3,'Yes')"></button>
            			<span class="clearfix">Yes</span>
                              <span class="tooltiptext2">$3500.00</span>
            		</div>
            		<div class="col-md-6 col-sm-6 col-xs-6 text-center">
            			<button id="icn" class="btn btnd btn-danger btn-circle btn-xl center glyphicon glyphicon-remove	" ng-click="go('/fourth',0,3,'No')"></button>
            			<span class="clearfix">No</span>
            		</div>

            	</div>

            </div>

        </div>