<div class="container">
			<!-- <div class="pull-right price">
            	{{price | currency}}
            </div> -->
    <div class=" container row col-md-6">
		<div id="print">
    	<div class="well well-sm text-center">
    		<h4>Your Total Estimated Cost is :</h4>
    		<h3>{{total | currency}}</h3>
    	</div>

    	<div class="panel panel-default">
    		<!-- List group -->
    		<ul class="list-group">
    			<li ng-repeat="item in fin" class="list-group-item cc">
    				<h4>{{item.name | uppercase}} : <strong>"{{item.price | currency}}"</strong></h4>
    			</li>
    		</ul>
    	</div>

    	</div>
    	<!-- <div class="col-md-12"><hr></div> -->

    	<div class="end">
    		<div class="col-md-12 col-sm-12 col-xs-12 text-center">
    			<button class="btn btns btn-block center" ng-click="reload()"><i class="fa fa-long-arrow-left"></i> &nbsp;Back to Selection</button>
    		</div>
    	</div>
    	<div class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top: 10px">
    		<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
    			<button class="btn btn-default btn-block center" ng-click="getPdf()"><i class="fa fa-file-pdf-o"></i>&nbsp;Save Pdf</button>
    		</div>
    	</div>


    </div>

    <div class=" well well-lg col-md-5 col-md-offset-1">
            <h3>Let's Start Building</h3>
            <h5>We'll give you a call to discuss the requirements of your app and provide a proposal</h5>
			<form id="mailForm" onsubmit="return formSubmit()">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name" placeholder="Enter Name" required>
				</div>

				<div class="form-group">
					<label for="email">Email address</label>
					<input type="email" class="form-control" id="email" placeholder="Enter Email" required>
				</div>

				<div class="form-group">
					<label for="phone">Phone</label>
					<input type="tel" class="form-control" id="phone" placeholder="Enter Phone" required>
				</div>

				<div class="form-group">
					<label for="message">Message</label>
					<textarea class="form-control" rows="5" id="message" required> </textarea>
				</div>

				<div class="form-check">
					<label class="form-check-label">
						<input type="checkbox" id="disclosure" class="form-check-input">
						Send me Non Disclosure Agreement to protect my ideas.
					</label>
				</div>

				<input type="submit" id="button" class="btn btns btn-primary btn-block"></input>
			</form>
		</div>
</div>