.logo-wrapper{
	margin: 20px;
}
.logo {
    padding: 15px;
    font-size: 35px;
    font-family: fantasy;
}

.tagline {
    font-size: 11px;
    margin-left: -15px;
    font-family: monospace;
}

.nav-wrapper {
    margin: 20px;
}
	
.price {
	margin: 5px;
    padding: 5px;
    font-size: 35px;
}
.btn-circle {
  width: auto;
  height: 30px;
  text-align: center;
  /*padding: 6px 0;*/
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  white-space: normal;
}
.btn-circle.btn-lg {
  width: auto;
  height: 50px;
  /*padding: 10px 16px;*/
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: auto;
  min-width: 150px;
  height: 150px;
  /*padding: 10px 16px;*/
  font-size: 24px;
  line-height: 1.33;
  border-radius: 40px;
}
.choices{
	margin-top: 150px;
}
.end{
  margin-top: 50px;
}
.ques{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.box.ng-enter{
  -webkit-transition: 1s linear all;
  -moz-transition:1s linear all;
  -o-transition:1s linear all;
  transition: 1s linear all;
  opacity: 0;
}
.box.ng-enter-active{
  opacity: 1;
}

#icn{
  font-size: 60px;
}

.navbar{
  height: 120px;
  background-color: #ffffff;
}
body{
  background-color: #F5F4F4;
}
.thumbnail{
  background-color: #F5F4F4;
}

.btn{
  /*color:#074774;*/
}