.container{
  padding-bottom: 10%;
}
.logo-wrapper{
	margin: 20px;
}
.logo {
    padding: 15px;
    font-size: 35px;
    font-family: fantasy;
}

.tagline {
    font-size: 11px;
    margin-left: -15px;
    font-family: monospace;
}

.nav-wrapper {
    margin: 20px;
}
	
.price {
	margin: 5px;
    padding: 5px;
    font-size: 35px;
}
.btn-circle {
  width: auto;
  height: 30px;
  text-align: center;
  /*padding: 6px 0;*/
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  white-space: normal;
}
.btn-circle.btn-lg {
  width: auto;
  height: 50px;
  /*padding: 10px 16px;*/
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: auto;
  min-width: 170px;
  height: 170px;
  /*padding: 10px 16px;*/
  font-size: 24px;
  line-height: 1.33;
  border-radius: 100%;
}
.choices{
	margin-top: 150px;
}
.end{
  margin-top: 50px;
}
.ques{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.box.ng-enter{
  -webkit-transition: 1s linear all;
  -moz-transition:1s linear all;
  -o-transition:1s linear all;
  transition: 1s linear all;
  opacity: 0;
}
.box.ng-enter-active{
  opacity: 1;
}

#icn{
  font-size: 70px;
}

.navbar{
  height: 120px;
  background-color: #fff;
}
body{
  font-family: Bree Serif;
  background-color: #F5F4F4;
  /*color: #095992;*/
}
/*body:before {
    content: "";
    position: absolute;
    background: url('../images/wall.jpg');
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */
    /*height: 20%; width: 20%;  Using Glen Maddern's trick /via @mente */

    /* don't forget to use the prefixes you need */
    /*transform: scale(5);
    transform-origin: top left;
    filter: blur(0.5px);*/
/*}*/
.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -100px !important;  /* 50% of your logo width */
    display: block;
} 

.thumbnail{
  background-color: #F5F4F4;
}

/*#hid{
  text-align: center;
  display: none;
  color: blue;
  font-weight: bold;
  background-color: white;
  width: 40%;
  height: 20px;
  box-shadow: 10px 10px 5px #888888;

  position: relative;
  -webkit-animation: mymove 1s ; /* Safari 4.0 - 8.0 */
    /*animation: mymove 1s ;*/
/*}*/

#icn:hover{
  font-size: 90px;
  background-color: #074774;
  color: white;
  border: 1px solid #074774;
  box-shadow: inset 50px 25px 100px #000;
}


@-webkit-keyframes mymove {
    from {bottom: : -50px;}
    to {bottom: : 0px;}
}

/* Standard syntax */
@keyframes mymove {
    from {bottom: -50px;}
    to {bottom: 0px;}
}

.btnd{
  background-color: #43646B;
  color: white;
  border: 1px solid #43646B;
}


/*.tooltiptext,.tooltiptext2 {
    display: none;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 102%;
}
.tooltiptext{
  left: 34%;
}
.tooltiptext2{
  left: 39.5%;
}
.tooltiptext::after,.tooltiptext2::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}*/

/*.btnd:hover~.tooltiptext,.btnd:hover~.tooltiptext2 {
    display: block;
}*/

.list-group-item{
  color: #000;
  padding: 1px 15px;
  /*border: 1 px solid #000000;*/
}

.btns{
  background-color: #074774;
  color: white;
  border: 1px solid #074774;
  box-shadow: inset 5px 6px 35px #000;
}

.btns:hover{
  background-color: #43646B;
  color: white;
  border: 1px solid #43646B;
}

.btn.active{
  box-shadow: inset 0 3px 5px rgb(0, 0, 0);
}

.well{
  background-color: #fdfdfd;
}

