<div class="container">
			
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 text-center">
            	<h3>Total Estimate: {{price | currency}}</h3>
            </div>
           </div>
			
			<ul class="list-unstyled">

			<li class="appointment" >
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="media">
							<div class="media-body">
								<p>You Chose: {{choices[1]}}</p>
							</div>
							<button class="btn btn-info pull-right" ng-click="edit('/edit1st')">Edit</button>
						</div>
					</div>
				</div>
			</li>
			<li class="appointment" >
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="media">
							<div class="media-body">
								<p>You Chose: {{choices[2]}}</p>
							</div>
							<button class="btn btn-info pull-right" ng-click="edit('/edit2nd')">Edit</button>
						</div>
					</div>
				</div>
			</li>
			<li class="appointment" >
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="media">
							<div class="media-body">
								<p>You Chose: {{choices[3]}}</p>
							</div>
							<button class="btn btn-info pull-right" ng-click="edit('/edit3rd')">Edit</button>
						</div>
					</div>
				</div>
			</li>
			<li class="appointment" >
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="media">
							<div class="media-body">
								<p>You Chose: {{choices[4]}}</p>
							</div>
							<button class="btn btn-info pull-right" ng-click="edit('/edit4th')">Edit</button>
						</div>
					</div>
				</div>
			</li>
		</ul>


		
		
	</div>