<div class="container">
			<div class="pull-right price">
            	{{price | currency}}
            </div>
		<div class="row">
			<div class="col-md-12 ques">
				<h2>How Should it look?</h2>
			</div>
			<div class="choices">
				<div class="col-md-4 text-center">
					<button class="btn btn-info btn-circle btn-xl center" ng-click="go('/fourth',5000,3,'Structured')"></button>
					<span class="btn-sub clearfix">Structured</span>
				</div>
				<div class="col-md-4 text-center">
					<button class="btn btn-danger btn-circle btn-xl center" ng-click="go('/fourth',10000,3,'Optimized')"></button>
					<span class="btn-sub clearfix">Optimized</span>
				</div>
				<div class="col-md-4 text-center">
					<button class="btn btn-success btn-circle btn-xl center" ng-click="go('/fourth',15000,3,'Fancy')"></button>
					<span class="btn-sub clearfix">Fancy</span>
				</div>
			</div>
			
		</div>
		
	</div>